@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes App</h1>
    <p>This is an application created for the purpose of learning the basics of the ASP.NET framework.</p>
</div>
